.App {
  text-align: center;
}

body{
  background-color: grey;
  display: flex;
  flex-direction: column;
  align-items: center;
}

table{
  top: 50px;
  position: relative;
  border-style: solid;
  border-width: 0.6;
  width: auto;
  height: 500px;

}

tr{
  background-color: rgb(58, 58, 58);
  color: white;
}
td{
  width: 100px;
  height: 100px;
}